<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">
	
	<listeners>
		<listener class-name="rahulshettyacademy.TestComponents.Listeners"/>
	</listeners>
	
	
  <test thread-count="5" name="StandAlone E2E">
    <classes>
      <class name="rahulshettyacademy.Tests.SubmitOrderTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="StandAlone error validations">
    <classes>
      <class name="rahulshettyacademy.Tests.StandAlonePOM2ErrorValidation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
